{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}

    <!--FB sdk-->


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '272396783170710', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('auth.authResponseChange', function(response)
    {
     if (response.status === 'connected')
    {
        document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
        //SUCCESS

    }
    else if (response.status === 'not_authorized')
    {
        document.getElementById("message").innerHTML +=  "<br>Failed to Connect";

        //FAILED
    } else
    {
        document.getElementById("message").innerHTML +=  "<br>Logged Out";

        //UNKNOWN ERROR
    }
    });

    };

    function Login()
    {

        FB.login(function(response) {
           if (response.authResponse)
           {
                getUserInfo();
            } else
            {
             console.log('User cancelled login or did not fully authorize.');
            }
         },{scope: 'email,user_photos,user_videos'});

    }

  function getUserInfo() {
        FB.api('/me', function(response) {

      var str="<b>Name</b> : "+response.name+"<br>";
          str +="<b>Link: </b>"+response.link+"<br>";
          str +="<b>Username:</b> "+response.username+"<br>";
          str +="<b>id: </b>"+response.id+"<br>";
          str +="<b>Email:</b> "+response.email+"<br>";
          str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
          str +="<input type='button' value='Logout' onclick='Logout();'/>";
          document.getElementById("status").innerHTML=str;

    });
    }
    function getPhoto()
    {
      FB.api('/me/picture?type=normal', function(response) {

          var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
          document.getElementById("status").innerHTML+=str;

    });

    }
    function Logout()
    {
        FB.logout(function(){document.location.reload();});
    }

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>

{% endblock %}

{% block content %}



    <h2>Secret header</h2>
    <h1>DOCUMENTS</h1>
    {% if all_documents %}

        {% for document, owner in all_documents.items %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <a href="/documents/{{ document.id }}/">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i style="font-size:2.8em;" class="glyphicon glyphicon-file"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <div>{{ document.title }}</div>
                                </div>
                            </div>
                        </div>
                    </a>


                    <div class="panel-footer">

                        <!--footer element to link to author-->
                        <a href="/profile/{{ owner.id }}/">
                            <span class="pull-left">Authored by {{owner.get_full_name|default:owner}}</span>
                        </a>

                        <!--footer element to delete document-->
                        <a data-toggle="collapse" href="#docdel{{document.id}}">
                            <span class="pull-right"><i style="font-size:1.5em;" class="glyphicon glyphicon-trash"></i></span>
                        </a>

                        <!--footer element to share document-->
                        <a data-toggle="collapse" href="#ppladd{{document.id}}">
                            <span class="pull-right"><i style="font-size:1.5em;" class="glyphicon glyphicon-share"></i></span>
                        </a>

                        <div class="clearfix"></div>
                    </div>


                    <!--form for adding permissions-->


                    <div class="collapse" id="ppladd{{document.id}}">
                        <div class="panel-footer">

                                        <form class="card" method="POST">
                                            <div class="card-content">
                                                <div class="row">
                                                    {%csrf_token%}
                                                    <input type="hidden" name="post_type" value="ppl">
                                                    <input type="hidden" name="docid" value="{{ document.id }}">


                                                    <!--person to authorize-->
                                                    <label for="person" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Authorize </label>
                                                    <select class="selectpicker" id="person" name="person" title="choose a person">
                                                        {% for ppl in all_users %}
                                                            <option value="{{ ppl.id }}">{{ ppl.get_full_name|default:ppl.username }}</option>
                                                        {% endfor %}
                                                    </select>

                                                    <!--authorization type-->
                                                    <label for="authtype" style="color:#337ab7;"> to </label>
                                                    <select class="selectpicker" id="authtype" name="authtype" title="choose a authtype">
                                                            <option value="0">Read</option>
                                                            <option value="1">Write</option>
                                                            <option value="2">Comment</option>
                                                    </select>


                                                </div>
                                                <div class="row">
                                                    &nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-primary">Submit</button>

                                                </div>
                                            </div>
                                        </form>

                        </div>
                    </div>

                    <!--end toggle stuff-->

                    <!--toggle delete-->
                    <div class="collapse" id="docdel{{document.id}}">
                        <div class="panel-footer">

                                        <form class="card" method="POST">
                                            <div class="card-content">
                                                <div class="row">
                                                    {%csrf_token%}
                                                    <input type="hidden" name="post_type" value="del">
                                                    <input type="hidden" name="docid" value="{{ document.id }}">


                                                    <!--Delete Text-->
                                                    <label for="person" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Delete {{ document.title}}? </label>

                                                </div>
                                                <div class="row">
                                                    &nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-success">YES</button>
                                                    <button class="btn btn-danger" data-toggle="collapse" href="#docdel{{document.id}}">
                                                        NO
                                                    </button>

                                                </div>
                                            </div>
                                        </form>

                        </div>
                    </div>

                    <!--end toggle stuff-->


                </div>
            </div>

        {% endfor %}



    {% endif %}

    <!--code for creating new document-->

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary" >
            <a data-toggle="collapse" href="#collapseExample">
                <div class="panel-heading">

                    <div class="row">
                        <div class="col-xs-2">
                            <i style="font-size:2.8em; color:#337ab7;" class="glyphicon glyphicon-plus"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <p style="color:#337ab7;">Create New Document</p>
                        </div>
                    </div>

                </div>
            </a>

            <!--stuff the gets toggled-->
            <div class="collapse" id="collapseExample">
                <div class="panel-footer">

                    <form class="card" method="POST">
                        <div class="card-content">
                            <div class="row">
                                {%csrf_token%}
                                <input type="hidden" name="post_type" value="create">
                                <label for="title" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Title: </label>
                                <input id="title" type="text" name="title" style="background-color:white;color:#337ab7;">
                            </div>

                            {% if all_notebooks%}
                            <div class="row">
                                <div class="col-xs-8 col-lg-2">
                                    <label for="title" style="color:#337ab7;">Notebook: </label>
                                    <select class="selectpicker" id="selectnotebook" name="selectnotebook" title="choose a notebook">
                                        {% for nb in all_notebooks %}
                                            <option value="{{ nb.id }}">{{ nb }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}

                            <div class="row">
                                &nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}