{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}
<style>
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
</style>
{% endblock %}

{% block content %}
    <h2>Secret header</h2>
    <h1>Note Editor</h1>
    {% with "false" as data %}
    {% if all_notes %}
        {% for note, owner in all_notes.items %}

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div id="text{{note.id}}">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a data-toggle="collapse" class="collapsed" href="#collapseExample{{note.id}}" >
                                                    <span class="if-collapsed">{{ note.note_text }}</span>
                                                    <span class="if-not-collapsed"> </span>
                                        </a>


                                                   <div class="collapse" id="collapseExample{{note.id}}">


                                                            <form class="card" method="POST">
                                                                <div class="card-content">
                                                                    <div class="row">
                                                                        {%csrf_token%}
                                                                        <!--<label for="title" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Title: </label>-->
                                                                        <!--<input id="title" type="text" name="title" style="background-color:white;color:#337ab7;">-->
                                                                        <input type="hidden" name="post_type" value="edit">
                                                                        <input type="hidden" name="noteid" value="{{ note.id }}">
                                                                        <textarea class="form-control" name="notetext" id="notetext" rows="{% widthratio note.note_text|length 120 1 %}" style="resize: vertical;">{{note.note_text}}</textarea>

                                                                    </div>
                                                                    <div class="row">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                    </div>
                                                                </div>
                                                            </form>


                                                </div>



                                    </div>
                                </div>
                            </div>

                    </div>



                    <div class="panel-footer">

                        <div class="row">
                            <div class ="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="/profile/{{ owner.id }}/">
                                    Authored by {{owner.0}}
                                </a>
                                &nbsp;&nbsp;
                                Tags:
                                &nbsp;
                                {% for tag in owner.1 %}
                                <a href="/tags/{{ tag.id }}/">
                                    {{tag}}
                                </a>
                                , &nbsp
                                {% endfor %}




                                <a data-toggle="collapse" href="#tagadd{{note.id}}">
                                    <i style="font-size:1em;" class="glyphicon glyphicon-plus"></i>
                                </a>

                                                <div class="collapse" id="tagadd{{note.id}}">
                                                    <div class="panel-footer">

                                                                    <form class="card" method="POST">
                                                                        <div class="card-content">
                                                                            <div class="row">
                                                                                {%csrf_token%}
                                                                                <input type="hidden" name="post_type" value="tag">
                                                                                <input type="hidden" name="noteid" value="{{ note.id }}">
                                                                                <label for="title" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Tag: </label>
                                                                                <input id="title" type="text" name="tagtext" style="background-color:white;color:#337ab7;">
                                                                            </div>
                                                                            <div class="row">
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>

                                                    </div>
                                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        {% endfor %}

    {% endif %}





            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div id="text">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a data-toggle="collapse" class="collapsed" href="#collapseExample{{note.id}}" >
                                                    <span class="if-collapsed">

                                                        <div class="row">
                                                            <div class="col-md-12" style="text-align:center;">
                                                                <i style="font-size:2.5em;" class="glyphicon glyphicon-plus"></i>
                                                                <div>Create New Note</div>

                                                            </div>
                                                        </div>

                                                    </span>
                                                    <span class="if-not-collapsed"> </span>
                                        </a>


                                                   <div class="collapse" id="collapseExample">


                                                            <form class="card" method="POST">
                                                                <div class="card-content">
                                                                    <div class="row">
                                                                        {%csrf_token%}
                                                                        <!--<label for="title" style="color:#337ab7;">&nbsp;&nbsp;&nbsp;&nbsp;Title: </label>-->
                                                                        <!--<input id="title" type="text" name="title" style="background-color:white;color:#337ab7;">-->
                                                                        <input type="hidden" name="post_type" value="new">
                                                                        <input type="hidden" name="noteid" value="{{ note.id }}">
                                                                        <textarea class="form-control" name="notetext" rows="5" style="resize: vertical;">{{note.note_text}}</textarea>

                                                                        {% if all_docs %}
                                                                        <div class="row">
                                                                            <div class="col-xs-8 col-lg-2">
                                                                                <label for="selectdoc" style="color:#337ab7;">Document: </label>
                                                                                <select class="selectpicker" id="selectdoc" name="selectdoc" title="choose a notebook">
                                                                                    {% for doc in all_docs %}
                                                                                        <option value="{{ doc.id }}">{{ doc }}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        {% else %}

                                                                        THIS IS WAR
                                                                        {% endif %}

                                                                    </div>
                                                                    <div class="row">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                    </div>
                                                                </div>
                                                            </form>


                                                </div>



                                    </div>
                                </div>
                            </div>

                    </div>


                </div>
            </div>

{% endwith %}
{% endblock %}
